.active-plan {
    position: relative;
    height: calc(100vh - 50px);

    .sucess {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%)translateY(-50%);

        p {
            font-weight: 500;
            color: #343A57;
            font-size: 18px;
        }
    }
}

.loading-grid {
    position: relative;
    height: calc(100vh - 40px);
    width: 100%;
    // margin-top: -40px;
}

.actions {
    padding-top: 40px;
}