<div class="content">
    <form>
        <div class="single-input">
            <div class="input">
                <label>Phone*</label>
                <input type="text">
            </div>
        </div>
        <div class="two-input">
            <div class="input">
                <label>Phone*</label>
                <input type="text">
            </div>
            <div class="input">
                <label>Phone*</label>
                <input type="text">
            </div>
        </div>
        <div class="two-input">
            <div class="input">
                <label>Phone*</label>
                <select>
                    <option>1</option>
                    <option>1</option>
                    <option>1</option>
                    <option>1</option>
                </select>
            </div>
            <div class="input">
                <label>Phone*</label>
                <textarea></textarea>
            </div>
        </div>
        <div class="three-input">
            <div class="input">
                <label>Phone*</label>
                <input type="text">
            </div>
            <div class="input">
                <label>Phone*</label>
                <input type="text">
            </div>
            <div class="input">
                <label>Phone*</label>
                <input type="text">
            </div>
        </div>
        <div class="single-input">
            <div class="btn">Submite</div>
        </div>
    </form>
</div>