.forgot-content {
    position: relative;
    padding: 0 20px;
}

.forgot-form {
    max-width: 400px;
    margin-bottom: 40px;
}

.forgot-header {
    padding-top: 60px;

    @media screen and (max-width:767px) {
        padding-top: 40px;
    }

    p {
        margin: 20px 0px;
        font-weight: 400;
        margin-left: 20px;
        color: #343A57;
    }
}

h2 {
    margin-bottom: 0px;

    +p {
        margin-bottom: 20px;
        font-size: 14px;
        color: #999;
    }
}

.linkSent {
    padding-top: 50px;
    font-size: 18px;
}