<div class="forgot-content">
  <div class="forgot-header">
    <a routerLink="/">
      <img src="assets/Logo.png">
    </a>
  </div>
  <div class="form forgot-form" *ngIf="!linkSent">
    <h2>Send Reset Link</h2>
    <p>Enter associated email, We will send you a password reset link.</p>
    <p class="invalid" *ngIf="serverErrorrCode != 400">{{serverErrorr}}</p>

    <form [formGroup]="forgotPasswordForm">
      <div class="hero_form form-group">
        <div class="form-field">
          <label>Email</label>
          <input type="text" class="form-control" placeholder="Enter your email address" formControlName="email" />
        </div>
        <div
          *ngIf="(forgotPasswordForm.get('email').dirty || forgotPasswordForm.get('email').touched) && forgotPasswordForm.get('email').errors"
          class="invalid">
          <div *ngIf="forgotPasswordForm.controls.email.errors.required">Email is required</div>
          <div *ngIf="forgotPasswordForm.controls.email.errors.email">Email must be a valid email address</div>
        </div>
        <button (click)="sendLink()">Send Link</button>
      </div>
    </form>

  </div>
  <div class="linkSent" *ngIf="linkSent">
    <p>We've sent you a password reset link, check you email.</p>
  </div>
  <div class="msg-popup" *ngIf="serverErrorrCode == 400">
    <div class="msg-popup-msg">
      <p>{{serverErrorr}}!!</p>
      <button [routerLink]="['/install']">Install</button>
    </div>
  </div>
</div>