.content {
    width: calc(100% - 300px);
    margin-left: 300px;
    padding: 25px;
    height: 100vh;
    padding-top: 95px;
    position: relative;
    z-index: 1;

    @media screen and (max-width:1200px) {
        // padding: 20px;
        width: calc(100% - 280px);
        margin-left: 280px;
    }

    @media screen and (max-width:979px) {
        width: 100%;
        margin-left: 0px;
        padding-top: 80px;
    }

    @media screen and (max-width:479px) {
        padding: 10px;
        padding-top: 80px;
    }

    &.withoutSide {
        width: 100%;
        margin-left: 0px;
        padding: 0px;
    }
}


.mobile-logo {
    display: none;
    position: fixed;
    top: 3px;
    z-index: 98;
    left: 60px;

    @media screen and (max-width:979px) {
        display: block;
    }

    img {
        margin: auto;
        max-width: 56px;
        width: 100%;

        @media screen and (max-width:767px) {
            max-width: 50px;
        }
    }
}

.header-container {
    position: fixed;
    width: calc(100% - 300px);
    left: 300px;
    background: #fff;
    padding: 10px 20px;
    box-shadow: 0px 0px 10px 5px #0000000d;
    z-index: 5;

    @media screen and (max-width:1200px) {
        width: calc(100% - 280px);
        left: 280px;
    }

    @media screen and (max-width:979px) {
        left: 0px;
        width: 100%;
        padding: 12px 20px;
        padding-left: 130px;
    }

}