<div class="reset-content">
  <div class="reset-header">
    <a routerLink="/">
      <img src="assets/Logo.png">
    </a>
  </div>
  <div class="form reset-form" *ngIf="!passSet">
    <h2> Reset Password </h2>
    <p>Reset your password.</p>
    <p class="invalid" *ngIf="serverErrorrCode != 400">{{serverErrorr}}</p>

    <form [formGroup]="passwordResetForm">
      <div class="hero_form form-group">
        <div class="form-field">
          <label>New Password</label>
          <input type="password" class="form-control" placeholder="Enter your Password" formControlName="password"
            [ngClass]="{ 'is-invalid': passwordResetForm.controls.password.errors }" />
        </div>

        <div
          *ngIf="(passwordResetForm.get('password').dirty || passwordResetForm.get('password').touched) && passwordResetForm.get('password').errors"
          class="invalid">
          <div *ngIf="passwordResetForm.controls.password.errors.required">Password is required</div>
          <div *ngIf="passwordResetForm.controls.password.errors.minlength">Password must be at least 6 characters</div>
        </div>

        <div class="form-field">
          <label>Verify New Password</label>
          <input type="password" class="form-control" placeholder="Enter your Password" formControlName="verifyPassword"
            [ngClass]="{ 'is-invalid': passwordResetForm.controls.verifyPassword.errors }" />
        </div>

        <div
          *ngIf="(passwordResetForm.get('verifyPassword').dirty || passwordResetForm.get('verifyPassword').touched) && passwordResetForm.get('verifyPassword').errors"
          class="invalid">
          <div *ngIf="passwordResetForm.controls.verifyPassword.errors.required">Password is required</div>
          <div *ngIf="passwordResetForm.controls.verifyPassword.errors.minlength">Password must be at least 6 characters
          </div>
        </div>

        <button (click)="resetPassword()">Reset</button>
      </div>
    </form>
  </div>
  <div *ngIf="passSet" class="passSet">
    <p>Your password chaged successfully</p>
    <button class="btn" routerLink="/login">
      <span>Goto Login</span>
    </button>
  </div>
  <div class="msg-popup" *ngIf="serverErrorrCode == 400">
    <div class="msg-popup-msg">
      <p>{{serverErrorr}}!!</p>
      <button [routerLink]="['/install']">Install</button>
    </div>
  </div>
</div>