<div class="pricing-content">
  <div class="loading-grid" *ngIf="loading">
    <app-loading></app-loading>
  </div>
  <div class="pricing" *ngIf="!loading">
    <div [ngClass]="planName == 'Free' ? 'pricing-card active' : 'pricing-card'">
      <div class="pricing-heading">
        <h2>Basic</h2>
      </div>
      <div class="pricing-info">
        <label class="pricing-lable">
          Free
        </label>
        <div class="pricing-features-list">
          <div class="feature">
            <img src="assets/rightmark.png">
            <p>5 Product Setup</p>
          </div>
          <div class="feature">
            <img src="assets/rightmark.png">
            <p>Unlimited Bot Chat</p>
          </div>
        </div>
        <div class="pricing-desc">
          <p>Free and demo plan for new Customer</p>
        </div>
        <div class="pricing-btn">
          <!-- <button *ngIf="planName != 'Free'" (click)="acceptPlan('Free' , '100')">Get Started</button>
          <button class="active-btn" *ngIf="planName == 'Free'" (click)="activeBasicPlan();">Deactive Plan</button> -->
        </div>
      </div>
    </div>
    <div [ngClass]="planName == 'Silver' ? 'pricing-card active' : 'pricing-card'">
      <div class="pricing-heading">
        <h2>Silver</h2>
      </div>
      <div class="pricing-info">
        <label class="pricing-lable">
          $20<span>/Month</span>
        </label>
        <div class="pricing-features-list">
          <div class="feature">
            <img src="assets/rightmark.png">
            <p>50 Product Setup</p>
          </div>
          <div class="feature">
            <img src="assets/rightmark.png">
            <p>Unlimited Bot Chat</p>
          </div>
        </div>
        <div class="pricing-desc">
          <p>Best Plan for Small enterprise and limited Product range.</p>
        </div>
        <div class="pricing-btn">
          <button *ngIf="planName != 'Silver'" (click)="acceptPlan('Silver' , '20')">Upgrade</button>
          <button class="active-btn" *ngIf="planName == 'Silver'" (click)="activeBasicPlan();">Deactive Plan</button>
        </div>
      </div>
    </div>
    <div [ngClass]="planName == 'Gold' ? 'pricing-card active' : 'pricing-card'">
      <div class=" pricing-heading">
        <h2>Gold</h2>
      </div>
      <div class="pricing-info">
        <label class="pricing-lable">
          $40<span>/Month</span>
        </label>
        <div class="pricing-features-list">
          <div class="feature">
            <img src="assets/rightmark.png">
            <p>100 Product Setup</p>
          </div>
          <div class="feature">
            <img src="assets/rightmark.png">
            <p>Unlimited Bot Chat</p>
          </div>
        </div>
        <div class="pricing-desc">
          <p>Recommened for Campanies with large product range.</p>
        </div>

        <div class="pricing-btn">
          <button *ngIf="planName != 'Gold'" (click)="acceptPlan('Gold' , '40')">Upgrade</button>
          <button class="active-btn" *ngIf="planName == 'Gold'" (click)="activeBasicPlan();">Deactive Plan</button>
        </div>
      </div>
    </div>
    <div [ngClass]="planName == 'Platinum' ? 'pricing-card active' : 'pricing-card'">
      <div class="pricing-heading">
        <h2>Platinum</h2>
      </div>
      <div class="pricing-info">
        <label class="pricing-lable">
          $100<span>/Month</span>
        </label>
        <div class="pricing-features-list">
          <div class="feature">
            <img src="assets/rightmark.png">
            <p>250 Product Setup</p>
          </div>
          <div class="feature">
            <img src="assets/rightmark.png">
            <p>Unlimited Bot Chat</p>
          </div>
        </div>
        <div class="pricing-desc">
          <p>Enjoy our unlimited bot Service for your all products. </p>
        </div>

        <div class="pricing-btn">
          <button *ngIf="planName != 'Platinum'" (click)="acceptPlan('Platinum' , '100')">Upgrade</button>
          <button class="active-btn" *ngIf="planName == 'Platinum'" (click)="activeBasicPlan();">Deactive Plan</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="pricing-card active">
    <div class="pricing-heading">
      <h2>Standard</h2>
    </div>
    <div class="pricing-info">
      <label class="pricing-lable">
        $20<span>/Month</span>
      </label>
      <div class="custom-features-grid">
        <img src="assets/minus.png">
        <div class="custom-features-list">
          <div class="custom-features">
            <h2>50</h2>
            <p>Product Setup</p>
          </div>
          <div class="custom-features">
            <p>&</p>
            <h2>1000</h2>
            <p>Braggaing Bot</p>
          </div>
        </div>

        <img src="assets/plus.png">
      </div>
      <div class="upgrade-btn">
        <button>Upgrade</button>
      </div>
      <div class="pricing-desc">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. </p>
      </div>
      <div class="pricing-btn">
        <button>Buy Now</button>
      </div>
    </div>
  </div> -->