$brand-color: #3e82b0;
$brand-hover-color: #276996;

.pricing-content {
  position: relative;
  height: 100%;
}

// .pricing {

//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   // margin: 60px 0;
//   flex-wrap: wrap;
//   height: 100%;
//   display: none;

//   @media screen and (max-width: 1365px) {
//     justify-content: flex-start;
//   }

//   @media screen and (max-width: 1199px) {
//     justify-content: space-around;
//   }

//   @media screen and (max-width: 979px) {
//     margin: 30px 0;
//   }

//   @media screen and (max-width: 767px) {
//     flex-direction: column;
//     flex-wrap: initial;
//   }

//   .pricing-card {
//     width: calc(20% - 10px);
//     min-width: 265px;
//     background: #fff;
//     border: 1px solid #cdd4e3;
//     border-top: 3px solid $brand-color;
//     border-radius: 5px;
//     margin: 20px 0;
//     position: relative;
//     transition: all 0.2s;
//     text-align: center;

//     @media screen and (max-width: 1365px) {
//       margin-right: 20px;
//       margin-top: 0px;
//     }

//     @media screen and (max-width: 1199px) {
//       margin: 0px;
//       width: calc(50% - 20px);
//       margin-bottom: 20px;
//     }

//     @media screen and (max-width: 767px) {
//       width: 100%;
//       max-width: 360px;
//     }

//     .pricing-heading {
//       padding: 10px 0;

//       h2 {
//         color: $brand-color;
//         margin: 0 15px;
//         font-size: 26px;
//         padding: 15px 0;
//         border-bottom: 1px solid #efeeee;
//       }
//     }

//     &:hover {
//       box-shadow: 0px 2px 20px #00000020;
//       transform: scale(1.01);
//     }

//     &.active {
//       box-shadow: 0px 2px 20px #00000020;
//       border-top: 3px solid $brand-color;
//       transform: scale(1.2);
//       z-index: 10;
//       text-align: center;

//       .pricing-heading {
//         background: $brand-color;
//         padding: 18px 0;

//         h2 {
//           color: white;
//           border: none;
//         }
//       }

//       .pricing-info {
//         padding: 30px 15px;

//         .days-left {
//           display: block;
//         }

//         .next-payment {
//           display: block;
//         }
//       }

//       .upgrade-btn {
//         margin-bottom: 25px;
//       }
//     }
//   }
// }

.pricing-info {
  padding: 20px 15px;
  position: relative;

  .days-left {
    position: absolute;
    top: 7px;
    width: 100%;
    display: none;
    text-align: center;
    left: 0px;
    max-height: 20px;
    opacity: 1;
    color: #FF9800;
  }

  .next-payment {
    position: absolute;
    bottom: 7px;
    width: 100%;
    display: none;
    text-align: center;
    left: 0px;
    max-height: 20px;
    color: #3e81b0;
    opacity: 1;
  }

  @media screen and (max-width: 1200px) {
    padding: 10px 20px;
  }

  label {
    font-size: 36px;
    color: $brand-color;
    position: relative;
  }

  span {
    font-size: 14px;
    position: absolute;
    bottom: 5px;
    margin-left: 2px;
    color: #999;
    opacity: 0.6;
  }

  .pricing-features-list {
    margin: 20px 0;

    .feature {
      display: flex;
      margin: 15px 0;
      margin-left: 60px;
      align-items: flex-start;

      img {
        margin-right: 6px;
        width: 15px;
        margin-top: 3px;
      }

      p {
        font-size: 14px;
        word-spacing: 0.5px;
        color: #5f7c8a;
        text-align: left;

        @media screen and (max-width: 979px) {
          text-align: left;
        }
      }
    }
  }

  .pricing-desc {
    font-size: 14px;
    color: #999;
    margin-bottom: 60px;
    line-height: 1.6;
    margin-top: 30px;
  }

  .pricing-btn {
    button {
      width: 100%;
    }
  }
}

.custom-features-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;

  .custom-features-list {
    .custom-features {
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 979px) {
        flex-direction: column;
      }

      @media screen and (max-width: 767px) {
        flex-direction: row;
      }

      h2 {
        margin: 0 10px;
      }

      p {
        font-size: 16px;
        color: #999;
      }
    }
  }
}

.loading-grid {
  position: relative;
  height: calc(100vh - 40px);
  width: 100%;
}

.pricing_new {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0px;
  justify-content: space-between;

  .pricing-lable {
    font-size: 40px;
    font-weight: bold;
    position: relative;
    margin-left: -50px;

    span {
      font-weight: normal;
    }
  }

  .pricing-card {
    width: 25%;
    position: relative;
    transition: all 0.2s;
    text-align: center;

    @media screen and (max-width: 1365px) {
      margin: 0px;
      width: calc(50% - 20px);
      margin-bottom: 20px;
      margin: 0 auto 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      max-width: 360px;
      margin: 0 auto 20px;
    }

    .pricing-heading {
      padding: 10px 0;

      h2 {
        color: #607D8B;
        margin: 0 15px;
        font-size: 26px;
        padding: 15px 0;
        border-bottom: 1px solid #efeeee;
      }
    }

    &.active {
      box-shadow: 0px 2px 20px #00000020;
      z-index: 10;
      text-align: center;
      background: #fff;

      @media screen and (max-width: 1365px) {
        border: none;
      }

      .pricing-heading {
        h2 {
          color: $brand-color;
          border-color: $brand-color;
        }
      }

      .pricing-info {
        padding: 30px 15px;

        .days-left {
          display: block;
        }

        .next-payment {
          display: block;
        }
      }

      .upgrade-btn {
        margin-bottom: 25px;
      }
    }
  }
}

.light-noficication {
  margin: 30px 0px;
  word-spacing: 1px;
  letter-spacing: 0.5px;
}