<div class="pricing-content">
  <div class="loading-grid" *ngIf="loading">
    <app-loading></app-loading>
  </div>
  <div *ngIf="!loading">
    <p>Your plan is based on your product count.</p>
    <div class="pricing">
      <div [ngClass]="planName == 'Basic' ? 'pricing-card active' : 'pricing-card'">
        <div class="pricing-heading">
          <h2>Basic</h2>
        </div>
        <div class="pricing-info">
          <span class="days-left">6 days trial left</span>
          <label class="pricing-lable">
            $9.99<span>/Month</span>
          </label>
          <div class="pricing-features-list">
            <div class="feature">
              <img src="assets/rightmark.png">
              <p>14-day free trial</p>
            </div>
            <div class="feature">
              <img src="assets/rightmark.png">
              <p>UP TO 500 PRODUCTS</p>
            </div>
          </div>
          <div class="pricing-btn">
            <button *ngIf="planName != 'Basic' && planName != 'Silver' && planName != 'Gold' && planName != 'Platinum'"
              (click)="acceptPlan('Basic' , 4.99)">Upgrade</button>
            <!-- <button class="active-btn" *ngIf="planName == 'Free'" (click)="activeBasicPlan();">Deactive Plan</button> -->
          </div>

          <span class="next-payment">Next Payment : 30 Jan 2020</span>
        </div>
      </div>
      <div [ngClass]="planName == 'Silver' ? 'pricing-card active' : 'pricing-card'">
        <div class="pricing-heading">
          <h2>Silver</h2>
        </div>
        <div class="pricing-info">
          <span class="days-left">6 days trial left</span>
          <label class="pricing-lable">
            $19.99<span>/Month</span>
          </label>
          <div class="pricing-features-list">
            <div class="feature">
              <img src="assets/rightmark.png">
              <p>14-day free trial</p>
            </div>
            <div class="feature">
              <img src="assets/rightmark.png">
              <p> 500-1000 PRODUCTS</p>
            </div>

          </div>
          <div class="pricing-btn">
            <button *ngIf="planName != 'Silver' && planName != 'Gold' && planName != 'Platinum'"
              (click)="acceptPlan('Silver' , 9.99)">Upgrade</button>
            <!-- <button class="active-btn" *ngIf="planName == 'Silver'" (click)="activeBasicPlan();">Deactive Plan</button> -->
          </div>

          <span class="next-payment">Next Payment : 30 Jan 2020</span>
        </div>
      </div>
      <div [ngClass]="planName == 'Gold' ? 'pricing-card active' : 'pricing-card'">
        <div class=" pricing-heading">
          <h2>Gold</h2>
        </div>
        <div class="pricing-info">
          <span class="days-left">6 days trial left</span>
          <label class="pricing-lable">
            $29.99<span>/Month</span>
          </label>
          <div class="pricing-features-list">
            <div class="feature">
              <img src="assets/rightmark.png">
              <p>14-day free trial</p>
            </div>
            <div class="feature">
              <img src="assets/rightmark.png">
              <p> 1000-5000 PRODUCTS</p>
            </div>
          </div>
          <div class="pricing-btn">
            <button *ngIf="planName != 'Gold' && planName != 'Platinum'"
              (click)="acceptPlan('Gold' , 14.99)">Upgrade</button>
            <!-- <button class="active-btn" *ngIf="planName == 'Gold'" (click)="activeBasicPlan();">Deactive Plan</button> -->
          </div>

          <span class="next-payment">Next Payment : 30 Jan 2020</span>
        </div>
      </div>
      <div [ngClass]="planName == 'Platinum' ? 'pricing-card active' : 'pricing-card'">
        <div class="pricing-heading">
          <h2>Platinum</h2>
        </div>
        <div class="pricing-info">
          <span class="days-left">6 days trial left</span>
          <label class="pricing-lable">
            $49.99<span>/Month</span>
          </label>
          <div class="pricing-features-list">
            <div class="feature">
              <img src="assets/rightmark.png">
              <p>14-day free trial</p>
            </div>
            <div class="feature">
              <img src="assets/rightmark.png">
              <p> Unlimited</p>
            </div>
          </div>
          <div class="pricing-btn">
            <button *ngIf="planName != 'Platinum'" (click)="acceptPlan('Platinum' , 19.99)">Upgrade</button>
          </div>
          <span class="next-payment">Next Payment : 30 Jan 2020</span>
        </div>
      </div>
    </div>
  </div>
</div>