.login-content {
    position: relative;
    padding: 0 20px;
}

.login-form {
    max-width: 400px;
    margin-bottom: 40px;
}

.login-header {
    padding-top: 60px;
    @media screen and (max-width:767px){
        padding-top: 40px;
    }


    p {
        margin: 20px 0px;
        font-weight: 400;
        margin-left: 20px;
        color: #343A57;
    }
}