<div class="login-content">
  <div class="login-header">

    <a routerLink="/">
      <img src="assets/Logo.png">
    </a>
  </div>
  <div class="form login-form">
    <h2>Login</h2>
    <p class="invalid" *ngIf="serverErrorrCode != 400">{{serverErrorr}}</p>

    <form [formGroup]="loginForm">
      <div class="hero_form form-group">
        <div class="form-field">
          <label>Shop URL</label>
          <input type="text" class="form-control" placeholder="Enter your shop URL" formControlName="shopUrl"
            [ngClass]="{ 'is-invalid': loginForm.controls.password.errors }" />
        </div>
        <div
          *ngIf="(loginForm.get('shopUrl').dirty || loginForm.get('shopUrl').touched) && loginForm.get('shopUrl').errors"
          class="invalid">
          <div *ngIf="loginForm.controls.shopUrl.errors.required">Shop URL is required</div>
        </div>

        <div class="form-field">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Enter your Password" formControlName="password"
            [ngClass]="{ 'is-invalid': loginForm.controls.password.errors }" />
        </div>

        <div
          *ngIf="(loginForm.get('password').dirty || loginForm.get('password').touched) && loginForm.get('password').errors"
          class="invalid">
          <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
          <div *ngIf="loginForm.controls.password.errors.minlength">Password must be at least 6 characters</div>
        </div>

        <div class="form-field right"> <a [routerLink]="['/forgot-password']">Forgot Password? </a></div>
        <button (click)="login()">Login</button>
        <div class="secondary-link"> Don't have an app ? <a [routerLink]="['/install']">Intall Now </a></div>
      </div>
    </form>
  </div>
  <div class="msg-popup" *ngIf="serverErrorrCode == 400">
    <div class="msg-popup-msg">
      <p>{{serverErrorr}}!!</p>
      <button [routerLink]="['/install']">Install</button>
    </div>
  </div>
</div>