body{
    padding: 0;
    margin: 0;
}
*{
	box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
input,textarea,button ,a:focus {
    outline: none;
} 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.main{
    background: #3e82b0;
    border-radius: 10px;
    padding: 20px 0 10px 0;
    .navbar{
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 10px;
        padding: 7px;
        font-weight: 500;
        font-size: 17px;
        .logo{
            padding: 5px 10px;
        }
        .visitors{
            display: flex;
            h2{
                margin-right: 10px;
                background-color: #3e82b0;
                color: white;
                padding: 5px 20px;
                max-width: 300px;
                width: auto;
                border-radius: 50px;
            }
            h3{
                margin-right: 10px;
                padding: 5px 0;
            }
            a{
                padding: 5px 10px;
                background-color: #ffc107;
                color: white;
                border-radius: 50px;
                margin-right: 20px;
                transition: 0.5s all;
                font-weight: 500;
                text-shadow: 2px 2px 5px  #00000080;
            }
        }
    }
    .container{
        display: flex;
        .division{
            width: 65%;
            background-color: white;
            padding: 10px;
            margin: 25px 10px 25px 25px;
            border-radius: 10px;
            .cht-setting{
                border-bottom: 2px solid rgb(201, 200, 200);
                .name{
                    display: flex;
                    padding: 10px;
                    h2{
                        margin-right: 10px;
                        padding: 5px;
                    }
                    input{
                        border-radius: 5px;
                        padding: 6px;
                        border: 2px solid #a9a8a8;
                        width: 40%;
                        &:focus{
                            box-shadow: 2px 2px 5px  #3e82b0;
                        }
                    }  
                }
                .head{
    
                    .step{
                        display: flex;
                        font-size: 25px;
                        margin: 10px;
                        h1{
                            font-weight: 500;
                            margin-right: 10px;
                        }
                    }
                    .addicon{
                        .division{
                            display: flex;
                            img{
                                width: 40px;
                                margin: 10px;
                                svg{
                                    border-radius: 50px;
                                }
                            }
                        }
                    }
                }
            }
            .main-icon{
                padding: 0 10px;
                .add{
                    height: 150px;
                    transition: 0.5s;
                }
                .remove{
                    height: 100px;
                    transition: 0.5s;
                }
                .group{
                    padding: 10px;
                    background: #d8e5ee;
                    border-radius: 10px;
                    overflow: hidden;
                    margin-bottom: 10px;
                    .enter-data{
                        display: flex;
                        position: relative;
                        margin-bottom: 15px;
                        .icon-svg{
                            height: 30px;
                            width: 30px;
                            svg{
                                height: 30px;
                                width: 30px;
                            }
                        }
        
                        .tooltip{
                            img{
                                width: 40px;
                                height: 40px;
                                margin: 10px;
                            }
                        }
                        .details-box{
                            width: 35%;
                            margin: 10px 0;
                            input{
                                width: 95%;
                            }
                            label{
                                font-size: 13px;
                            }
                        }
                        .checkbox{
                            display: flex;
                            height: 25px;
                            margin: 19px 0px;
                            .form-check{
                                display: flex;
                                margin-right: 10px;
                                input{
                                    margin: 5px;
                                }
                                label{
                                    margin: 2px 0px;
                                }
                            }
                        }
                        .setting{
                            display: flex;
                            background-color: #3e82b0;
                            padding: 1px 5px;
                            height: 10%;
                            border-radius: 50px;
                            margin: 15px 10px;
                            cursor: pointer;
                            .mat-icon {
                                padding: 4px;
                                color: white;
                                font-size: 17px !important;
                    
                            }
                            h2{
                                padding: 4px;
                                color: white;
                            }
                        }
                        .close{
                            width: 25px;
                            height: 25px;
                            position: absolute;
                            right: -20px;
                            top: -20px;
                            cursor: pointer;
                        }
                    }
                    .hover-text{
                        display: flex;
                        margin: 10px 0;
                        h3{
                            margin: 10px;
                            font-weight: 500;
                            width: 20%;
                        }
                    }
                }
            }
            .Customize-icon{
                .heading{
                    display: flex;
                    font-size: 25px;
                    margin: 30px 10px 10px 10px;
                    h1{
                        font-weight: 500;
                        margin-right: 10px;
                    }
                }
                .color-chose{
                    display: flex;
                    h2{
                        margin: 12px;
                        font-weight: 500;
                        width: 15%;
                    }
                }
                .position{
                    display: flex;
                    h2{
                        margin: 12px;
                        font-weight: 500;
                        width: 15%;
                    }
                    .custom-control{
                        margin: 11px 0px;
                        display: flex;
                        label{
                            width: 75px !important;
                            input{
                                margin-right: 5px;
                            }
                        }
                    }
                }
                .custom-position{
                    display: flex;
                    background-color: #d8e5ee;
                    width: 65%;
                    border-radius: 5px;
                    max-width: 80%;
                    margin-left: 10px;
                    padding: 20px;
                    margin-bottom: 10px;
                    &.add-custom{
                        // display: block;
                        height: auto;
                    }
                    &.remove-custom{
                        display: none;
                    }
                    
                }
            }
            .submit-btn{
                justify-content: center;
                display: flex;
            }
            .icon{
                .icon-svg{
                    height: 30px;
                    width: 30px;
                    svg{
                        height: 30px;
                        width: 30px;
                    }
                }
            }
        }
        .Preview{
            width: 31%;
            padding: 25px 25px 25px 10px;
            position: sticky;
            top: 50px;
            height: 40px ;
            h2{
                color: white;
                font-weight: 500;
                text-align: center;
                margin: 10px 0;
                font-size: 18px;
            }
           
            .body_Preview{
                .page-header{
                    background-color: white;
                    padding: 10px;
                    border-radius: 10px 10px 0 0;
                    .nav{
                        display: flex;
                        .circle{
                            width: 10px;
                            height: 10px;
                            background-color: rgb(221, 0, 0);
                            border-radius: 50px;
                            margin-right: 5px;
                        }
                        .circle1{
                            width: 10px;
                            height: 10px;
                            background-color: rgb(233, 210, 0);
                            border-radius: 50px;
                            margin-right: 5px;
                        }
                        .circle2{
                            width: 10px;
                            height: 10px;
                            background-color: rgb(38, 161, 0);
                            border-radius: 50px;
                            margin-right: 5px;
                        }
                    }
                }
                .page-body{
                    background-color: rgb(206, 206, 206);
                    height: 180px;
                    position: relative;
                    .left{
                        position: absolute;
                        bottom: 10px;
                        left: 10px;
                    }
                    .right{
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                    }
                    .img{
                        width: 27px;
                        height: 27px;
                        position: absolute;
                        right: 10px;
                        bottom: 15px;
                        display: flex;
                        flex-direction: column-reverse;
                    }
                }
                &.active{
                    margin: 0 auto;
                    width: 60%;
                }
            }
            .preview_button{
                margin: 0 auto;
            }
            .prview-button-container{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 10px;
                button{
                    background: #ccc;
                    /* margin: 0; */
                    border: none;
                    &:first-child{
                        border-radius: 5px 0px 0px 5px;
                    }
                    &:last-child{
                        border-radius: 0px 5px 5px 0px;
                    }
                    &.active{
                        background:#eddd49;
                    }
                }
            }
        }
        #close{
            margin-bottom: 30px;
            .main-example{
                max-width: 300px;
                width: 40%;
                .close-example{
                    // width: 64%;
                    display: none;
                    position: relative;
                    input{
                        border-radius: 5px;
                        padding: 9px;
                        margin: 8px 0px 2px 0px;
                        border: 2px solid #a9a8a8;
                        &:focus{
                            box-shadow: 2px 2px 5px  #3e82b0;
                        }
                    }
                    .label-input{
                        font-size: 13px;
                    }
                    &.add{
                        display: block;
                    }
                    &.remove{
                        display: none;
                    }
                }
            }
            .close-setting{
                display: flex;
                background-color: #3e82b0;
                padding: 1px 5px;
                height: 10%;
                border-radius: 50px;
                margin: 19px 10px 19px 160px;
                cursor: pointer;
                svg {
                    padding: 4px;
                    width: 25px;
                    height: 25px;
                    fill: white;
        
                }
                h2{
                    padding: 4px;
                    color: white;
                }
            }
            .close-cancel{
                position: absolute;
                right: 0;
                top: 0;
                height: 25px;
                width: 25px;
                cursor: pointer;
                display: none;
                &.add{
                    display: block;
                }
                &.remove{
                    display: none;
                }
            }
        }
    }
}

// Whatsapp css 
.mian-setting{
    transition: 0.5s all;
    // height: auto;

    &.show{
        display: block;
    }
    &.hide{
        display: none;
    }
    
}
form input, form select, form textarea {
    width: auto;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    padding: 10px;
    background: #fff;
}



// angular matriyal scss

.example-list {
    width: auto;
    max-width: 100%;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    // overflow: hidden;
    position: relative;
  }
  

  .example-box {
      #close-btn{
        background-color: rgb(134, 205, 145);
        font-size: 45px;
        // margin-top: 6px;
        width: 45px;
        height: 45px;
        border-radius: 50px;
        color: white;
      }
    &.add{
        height: 235px;
    }
    &.remove{
        height: 100px;
    }
    transition: 00.5s all;
    overflow: hidden;
    height: 100px;
    border-radius: 10px;
    background-color:#d8e5ee;
    margin: 10px;
    padding: 15px 10px;
    color: rgba(0, 0, 0, 0.87);
    // display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    // cursor: move;
    font-size: 14px;
    .whatsapp-icon,.instagram-icon{
        display: flex;
        width: 100%;
        .move-icon{
            margin-top: 20px;
            cursor: move;
        }
        .png {
            width: 40px;
            margin: 10px;
            svg{
            border-radius: 50px;
            width: 40px;
            height: 40px;
            padding: 5px;
            fill: white;
            background-color: #92c894;
            }
        }
        .example{
            .input{
                margin-top: 12px;
                input{
                    margin-right: 5px;
                    width: 100%;
                    border-radius: 5px;
                    padding: 10px;
                    border: 2px solid #a9a8a8;
                    &:focus{
                        box-shadow: 2px 2px 5px  #3e82b0;
                    }
                }
            }
            
        }
        .close{
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
        }
        .checkbox{
            display: flex;
            padding: 25px 5px;
            .check-container{
                display: flex;
                input{
                    width: 30px;
                }
            }
        }
        .setting{
            display: flex;
            background-color: #3e82b0;
            padding: 1px 5px;
            height: 10%;
            border-radius: 50px;
            margin: 19px 10px;
            cursor: pointer;
            .mat-icon {
                padding: 4px;
                color: white;
                font-size: 17px !important;
    
            }
            h2{
                padding: 4px;
                color: white;
            }
        }
        .help-title {
            a{
               position: absolute;
               text-decoration: underline;
               color: #3e82b0;
               top: 80px;
               right: 50px;
                .tooltip .tooltip-top {
                    left: -30px;
                    top: -65px;
                }
                .tooltip .tooltiptext {
                    position: absolute;
                    z-index: 1;
                    width: auto;
                    text-align: center;
                    color: #fff !important;
                    background: #00000099 !important;
                    padding: 8px 0;
                    font-size: 12px;
                    // visibility: hidden;
                    border-radius: 5px;
                }
                .tooltip .tooltiptext:before {
                    position: absolute;
                    z-index: -1;
                    display: none;
                    content: "";
                    border-style: solid;
                    border-width: 0 10px 10px 10px;
                    border-color: transparent transparent #efefef transparent;
                }
               
            }
        }
    }
}