.form-group-gender{
    display: flex;
}
.division{
    display: flex;
    .icon{
        margin: 5px;
        img{
            width: 30px;
            height: 30px;
        }
    }
}
.form-group-gender{
    display: flex;
    .form-check{
        display: flex;
    }
}
form label {
    width: 135px;
    margin-bottom: 5px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
form input, form select, form textarea {
    width: 90% !important; 
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    padding: 10px;
    background: #fff;
    margin: 3px;
}
.main{
    border: 2px solid gray;
    width: 50%;
    padding: 10px;
}
.tooltip{
    img{
        width: 30px;
        height: 30px;
    }
}
.add{
    background-color: red;
}
.remove{
    background-color: yellow;
}