<div class="header">
  <a routerLink="/">
    <img src="assets/Logo.png">
  </a>
</div>
<div class="hero">
  <div class="hero_content">
    <h1>Don't Let Your Customers Down.</h1>
    <h3>Enlarge brand with pleasent customer</h3>
  </div>
</div>
<form [formGroup]="setPasswordForm">
  <div class="hero_form form-group">
    <p>Set Password</p>
    <div class="form-content">
      <input type="password" class="form-control" placeholder="Set Password" formControlName="password" type="password"
        [ngClass]="{ 'is-invalid': setPasswordForm.controls.password.errors }" />
      <button (click)="setPassword()">Set</button>
    </div>

    <div
      *ngIf="(setPasswordForm.get('password').dirty || setPasswordForm.get('password').touched) && setPasswordForm.get('password').errors"
      class="invalid">
      <div *ngIf="setPasswordForm.controls.password.errors.required">Password is required</div>
      <div *ngIf="setPasswordForm.controls.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
  </div>
</form>