<div class="faq-container">
  <h1>Help And Support</h1>
  <div class="sub-title">
    <h2>Contact Us</h2>
  </div>
  <div class="contact-us">
    <form class="form-group form" [formGroup]="contactForm">
      <p> {{messageStatus}}</p>
      <div class="form-field">
        <label>Message Type</label>
        <select formControlName="messageType">
          <option>Suggestion</option>
          <option>New features</option>
          <option>Bug or Error</option>
          <option>Anything</option>
        </select>
        <div
          *ngIf="(contactForm.get('messageType').dirty || contactForm.get('messageType').touched) && contactForm.get('messageType').errors"
          class="invalid">
          <div *ngIf="contactForm.controls.messageType.errors.required">Message Type is required</div>
        </div>
      </div>
      <div class="form-field">
        <label>Message </label>
        <textarea formControlName="message" placeholder="Your message"></textarea>
        <div
          *ngIf="(contactForm.get('message').dirty || contactForm.get('message').touched) && contactForm.get('message').errors"
          class="invalid">
          <div *ngIf="contactForm.controls.message.errors.required">Message is required</div>
        </div>
      </div>
      <div class="form-field">
        <div class="btn" (click)="sendMessage();">Submit</div>
      </div>
    </form>
  </div>

  <div class="sub-title">
    <h2>Contact Info</h2>
  </div>

  <div class="contact-div">
    <div class="line">
      <label>Email</label>
      <span>hello@webrexstudio.com</span>
    </div>
    <div class="line">
      <label>Mobile</label>
      <span>+91 9724690996</span>
    </div>
  </div>

  <div class="sub-title">
    <h2>FAQs</h2>
  </div>

  <ul>
    <li *ngFor="let faq of faqs; let i = index" class="faq" [ngClass]="{'active' : faq.open}"
      (click)="changeActive(i);">
      <div class="title">
        <h4>{{faq.title}}</h4>
      </div>
      <div class="f-content">
        <p class="ans">{{faq.ans}}</p>
      </div>
      <div class="indicator">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
          viewBox="0 0 129 129" enable-background="new 0 0 129 129">
          <g>
            <path
              d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z" />
          </g>
        </svg>
      </div>
    </li>
  </ul>
</div>